@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --font: "Inter", sans-serif;
  --gray-gradient: linear-gradient(
    to right,
    #0e1114,
    #0c0e11,
    #0a0a0d,
    #070708,
    #030303
  );
}

html {
  scroll-behavior: smooth;
}

.App {
  font-family: var(--font);
  width: 100%;
  background-image: linear-gradient(
    to right top,
    #050e1c,
    #00121a,
    #001414,
    #02140c,
    #0f1306
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.card-gradient {
  background: var(--black-gradient);
  box-shadow: var(--shadow);
}

footer {
  margin-top: auto;
  background: var(--gray-gradient);
}

.navbarActive {
  background: var(--gray-gradient);
}


.product-card:hover {
  background: var(--black-gradient);
}

@media (max-width: 1024px) {
  .product-card {
    background: var(--black-gradient);
  }
}
